.btn-custom-lang {
    border: solid 2px #555555;
    border-radius: 15px;
    box-shadow: 0 3px 0 #22222230;
    background-color: #ffffff;
}
.btn-custom-lang1:hover {
    border: solid 2px #555555;
    box-shadow: 0 3px 0 #22222230;
    background-color: #767676;
}
#header {
    background-color: rgb(29, 45, 95);
    padding: 1em;
    color: #ffffff;
}
#video {
    height:200px ;
    background-color: yellow;
}
#body {
    height: 400px ;
    background-color: #767676;
    border: 5px #111111;
}
#qrbody {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    color: #ffffff;
    height: 650px;
}
#qrbottom {
    height: 250px ;
    border: 5px #111111;
}
