
.btn-custom-lang {
    border: solid 2px #555555;
    border-radius: 17px;
    box-shadow: 0 3px 0 #22222230;
    background-color: #ffffff;
    font-family: "Mitr Light";
}
.btn-custom-lang:hover {
    border: solid 2px #555555;
    box-shadow: 0 3px 0 #22222230;
    background-color: #c7c7c7;
    font-family: "Mitr Light";
    
}
#header {
    background-color: rgb(29, 45, 95);
    padding: 1em;
    color: #ffffff;
    font-family: "Mitr";
}
#video {
    height:200px ;
    background-color: yellow;
    font-family: "Mitr";
}
#body {
    height: 400px ;
    background-color: #767676;
    border: 5px #111111;
    font-family: "Mitr";
}
#qrbody {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    color: #ffffff;
    height: 650px;
    font-family: "Mitr";
}
#qrbottom {
    height: 250px ;
    border: 5px #111111;
    font-family: "Mitr";
}                                           /*top left bottom right*/
.btn-group a {
    border: 1px solid rgb(255, 211, 50);
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    height: 70px;
    font-size: 25px;
    padding: 15px 0 0 0 ;
    font-family: "Mitr";
    width: 100%;
}
#btnsr_qr {
    background-color: #ffffff;
    color: black;
    font-family: "Mitr";
}
#btnqr_qr {
    background-color: rgb(29, 45, 95);
    color: white;
    font-family: "Mitr";
}
#animated input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

#animated input[type=text]:focus {
    width: 300px;
}

#animated i {
  position: relative;
  left: 33px;
}
.fa-search {
    padding: 0 0 0 0;
    margin: 0 0px 0 0;
}
#ritter_header {
    background-color: #6AA84F;
    padding: 1em;
    margin: 0;
}
#ritter_header_small {
    font-size: 22px;
    color: #ffffff;

}
#ritter_header_small_small {
    font-size: 14px;
    color: #ffffff;

}
#panasonic_header_text_picture {
    margin: auto auto;
}
#panasonic_header {
    background-color: #FF0000;
    padding: 1em;
    margin: 0;
}
#baby_bright_header {
    background-color: #FF00FF;
    padding: 1em;
    margin: 0;
}
#ritter_header2 {
    font-size: 12px;
    margin-top: 1em;
}
#ritter_header2_right_all {

    margin-top: 1em;
    margin-bottom: 1em;
}
#tarang {
    margin-left: 2em;
    font-size: 12px;
}
#tarangen {
    margin-left: 2em;
    font-size: 11px;
}
#bodyrt1 {
    border-top: solid 1.75px #000000;
    border-bottom: solid 1px #000000;
    padding-top: 10px;
}
#bodyrt1_text {
    font-size: 12px;
    margin-left: 20px;
}
#bodyrt2 {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    padding-top: 10px;
}
#bodyrt2_text {
    font-size: 12px;
    margin-left: 20px;
}
#bodypana2 {
    border-top: solid 1px #000000;
    border-bottom: solid 0px #000000;
    padding-top: 10px;
}
#body_baby_bright {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    padding-top: 10px;
}
#bodyrt3 {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    padding-top: 10px;
}
#bodyrt3_text {
    font-size: 12px;
    margin-left: 20px;
}
#bodyrt4 {
    border-top: solid 1px #000000;
    border-bottom: solid 1.75px #000000;
    padding-top: 10px;
}
#bodybaby3 {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    padding-top: 10px;
}
#bodyrt4_text {
    font-size: 12px;
    margin-left: 20px;
}
#red_box {
    height: 20 px;
    width: 20 px;
    border: solid 1px #000000;
    padding-left: 10px;
    margin: 125px auto 125px auto;
}
#qrcrop_index {
    height: 20 px;
    width: 20 px;
    border: solid 0px #000000;
    padding-left: 10px;
}
#sren_index {
    height: 20 px;
    width: 20 px;
    border: solid 0px #000000;
    padding-left: 10px;
}
#panasonic_bottom {
    margin: auto auto;
    margin-top: 20px
}
#panasonic_header_text_picture {
    margin-top: 20px;
    margin-bottom: 20px;
}
#baby_bottom {
    margin: auto auto;
    margin-top: 20px
}
#baby_bright_bottom {
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
